.row
  .large-10.columns
    h3 Readings
  .large-2.columns
    h3: // for vertical alignment
    input(type='text',ng-model='shared.plotQuery',placeholder='Search...')

  .large-12.columns

    flot(dataset="flotData" options="flotOptions" width="100%" height="400px")

    table
      tr
        th Label
        th DB key
        th Start
        th End
        th Values
      tr(ng-repeat='s in series | orderBy:"id"')
        td {{s.label}}
        td {{s.dbkey}}
        td {{s.start}}
        td {{s.end}}
        td {{s.values.length}}

  .large-12.columns
    table
      tr
        th Location
        th Parameter
        th Value
        th Unit
        th Time
        th Type
        th Id
      tr(ng-repeat='r in readings | filter:shared.plotQuery | orderBy:"loc" track by r.id'
         highlight-on-change='r.ms')
        td(align='right') {{r.loc}}
        td {{r.param}}
        td(align='right') {{r.value}}
        td {{r.unit}}
        td {{r.ms | date:"yyyy-MM-dd HH:mm:ss"}}
        td {{r.typ}}
        td {{r.id}}
